@model FloorballTrainingSessions.SigningSummary


<div class="col-md-4 col-sm-4 text-center">
    <img src="~/Images/p.png" alt="Alternate Text" />
    <img src="~/Images/g.png" alt="Alternate Text" />
</div>
<div class="col-md-4 col-sm-4 text-center"><img src="~/Images/g.png" alt="Alternate Text" /></div>
<div class="col-md-4 col-sm-4 text-center"><img src="~/Images/p.png" alt="Alternate Text" /></div>
<div class="signedin">
    <div class="col-md-4 col-sm-4 text-center signedin">@Model.SignedInAll</div>
    <div class="col-md-4 col-sm-4 text-center signedin">@Model.SignedInG</div>
    <div class="col-md-4 col-sm-4 text-center signedin">@Model.SignedInH</div>
</div>
<div class="signedout">
    <div class="col-md-4 col-sm-4 text-center signedout">@Model.SignedOutAll</div>
    <div class="col-md-4 col-sm-4 text-center signedout">@Model.SignedOutG</div>
    <div class="col-md-4 col-sm-4 text-center signedout">@Model.SignedOutH</div>
</div>



   
    
    
    
    
    
    
    
    





