@model FloorballTrainingSessions.SigningSummary

<div id="signingsummary">
    <div class="col-md-4">kdo</div>
    <div class="col-md-4">jde</div>
    <div class="col-md-4">nejde</div>
    <div class="col-md-4">Všichni</div>
    <div class="col-md-4">@Model.SignedInAll</div>
    <div class="col-md-4">@Model.SignedOutAll</div>
    <div class="col-md-4">Hráči</div>
    <div class="col-md-4">@Model.SignedInH</div>
    <div class="col-md-4">@Model.SignedOutH</div>
    <div class="col-md-4">Gólmani</div>
    <div class="col-md-4">@Model.SignedInG</div>
    <div class="col-md-4">@Model.SignedOutG</div>
    <div class="col-md-4">Trenéři</div>
    <div class="col-md-4">@Model.SignedInV</div>
    <div class="col-md-4">@Model.SignedOutV</div>

</div>



