@model IEnumerable<FloorballTrainingSessions.Teams>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Nastavení Týmů</h1>
    <p class="lead">Nastavení jednotlivých týmů.</p>
</div>

<p>
    @Html.ActionLink("Nový tým", "Create", "Teams", null, new { @class = "btn btn-success btn-md"})
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })
</p>

<div class="well well-lg">
<div class="table-responsive">
<table class="table">
<colgroup>
    <col class="col-md-10">
    <col class="col-md-2">
</colgroup>
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.ActionLink("Edituj", "Edit","Teams" , new { id = item.Id }, new { @class = "btn btn-warning btn-md"}) 
                    
                    @Html.ActionLink("Smaž", "Delete", "Teams", new { id = item.Id }, new { @class = "btn btn-danger btn-md"})
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>