@model FloorballTrainingSessions.TrainingExcersises

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingExcersises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Excersises.ExcersiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excersises.ExcersiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainings.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainings.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingSchemePartModels.PartLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingSchemePartModels.PartLength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
