@model IEnumerable<FloorballTrainingSessions.AspNetUsers>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Přehled zaregistrovaných uživatelů</h1>
    <p class="lead">Zobrazení uživateů, kteří provedli registraci na webu.</p>
</div>
@Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })
</p>
<div class="well well-lg">
<div class="table-responsive">
<table class="table">
    <colgroup>
        <col class="col-md-4">
        <col class="col-md-4">
        <col class="col-md-4">
    </colgroup>
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        
        
        
        
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
       
        
    </tr>
}
</tbody>
</table>
</div>
</div>