@model IEnumerable<FloorballTrainingSessions.AspNetUsers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        
        
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
       
        
    </tr>
}

</table>
