@model IEnumerable<FloorballTrainingSessions.TeamPlayers>


<table class="table table-condensed table-hover">
    <colgroup>
        <col class="col-md-3" />
        <col class="col-md-3" />
        <col class="col-md-6" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerFunctions.PlayerFunctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerFunctions.PlayerFunctionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Players.Name)
                </td>
                <td>
                    <div id= "PL_@item.Player" data-player="@item.Player" data-training="@ViewBag.training">
                    @Html.Action("List","PlayerSigningToTrainings", new { player = item.Player, training = ViewBag.training})
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
