@model IEnumerable<FloorballTrainingSessions.SeasonParts>

@{
    ViewBag.Title = "Rozdělení sezóny";
}

<div class="well"> 
    <h1>Rozdělení sezóny</h1>
</div>

<p>
    @Html.ActionLink("Nový", "Create", "SeasonParts", null, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-xs" })
</p>

    <div class="table-responsive">
        <table class="table table-hover table-condensed ">
            <colgroup>
                <col class="col-md-10">
                <col class="col-md-2">
            </colgroup>
            <thead>
                <tr> 
                    <th>
                        @Html.DisplayNameFor(model => model.SeasonPartName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeasonPartName)
                        </td>
                        <td>
                            @Html.ActionLink("Edituj", "Edit", "SeasonParts", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" })
                            @Html.ActionLink("Smaž", "Delete", "SeasonParts", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
