@model IEnumerable<FloorballTrainingSessions.SeasonParts>

@{
    ViewBag.Title = "Tréninkové bloky";
}

<h2>Tréninkové bloky</h2>

<p>
    @Html.ActionLink("Nový", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonPartName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonPartName)
        </td>
        <td>
            @Html.ActionLink("Edituj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Smaž", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
