@model FloorballTrainingSessions.AdminModel
@{
    ViewBag.Title = "Administrace";
}

<div class="well">
    <div style="float:right;">@foreach (var item in Model.Seasons)
    {
        if (Model.ActiveSeason == item.Id)
        {
            @Html.ActionLink(item.SeasonName, "Index", "Admin", new { SeasonId = item.Id }, new { @class = "btn btn-md btn-success" });
        }
        if (Model.ActiveSeason != item.Id)
        {
            @Html.ActionLink(item.SeasonName, "Index", "Admin", new { SeasonId = item.Id }, new { @class = "btn btn-md btn-default" });
        }
    }</div>
    <h1>Administrace</h1>
    
    
   
</div>

<div style="overflow:hidden">
    <div class="col-md-4  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Obecná nastavení</div>
            <div class="panel-body">
                @Html.ActionLink("Nastavení částí sezóny", "Index", "SeasonParts", null, new { @class = "btn btn-primary btn-block" })
                @Html.ActionLink("Nastavení funkcí členů týmu", "Index", "PlayerFunctions", null, new { @class = "btn btn-primary btn-block" })
                @Html.ActionLink("Nastavení kategorií cvičení", "Index", "ExcersiseCategories", null, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>
    <div class="col-md-5  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Nastavení uživatelů</div>
            <div class="panel-body">
                @Html.ActionLink("Přehled registrovaných uživatelů", "Index", "AspNetUsers", null, new { @class = "btn btn-primary btn-block" })
                @Html.ActionLink("Nastavení členů a jejich uživatelských účtů", "Index", "Players", null, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>
    <div class="col-md-3  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Přesezóní nastavení</div>
            <div class="panel-body">
                @Html.ActionLink("Nastavení týmů", "Index", "Teams", null, new { @class = "btn btn-primary btn-block" })
                @Html.ActionLink("Nastavení sezón", "Index", "Seasons", null, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>

</div>
<div style="overflow:hidden">

    <div class="col-md-4  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Nastavení členů týmů</div>
            <div class="panel-body">
                @foreach (var item in Model.Teamplayers)
                {
                    @Html.ActionLink(item.Teams.TeamName, "List", "TeamPlayers", new { TeamId = item.Team, SeasonId = Model.ActiveSeason }, new { @class = "btn btn-warning btn-block" });
                }
                @Html.ActionLink("Přidání člena k týmu", "Add", "TeamPlayers", null, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>

    <div class="col-md-4  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Přehled tréninků</div>
            <div class="panel-body">
                @foreach (var item in Model.Teamplayers)
                {
                    @Html.ActionLink(item.Teams.TeamName, "Index", "Trainings", new { team = item.Team, season = Model.ActiveSeason }, new { @class = "btn btn-warning btn-block" });
                }
                @Html.ActionLink("Vytvoření tréninku", "Create", "Trainings", null, new { @class = "btn btn-primary btn-block" })
                @Html.ActionLink("Přehled tréninků", "Index", "Trainings", null, new { @class = "btn btn-primary btn-block" })
            </div>
            </div>
    </div>
    <div class="col-md-4  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tréninkový plán</div>
            <div class="panel-body">
                @foreach (var item in Model.Teamplayers)
                {
                    @Html.ActionLink(item.Teams.TeamName, "List", "Trainings", new { TeamId = item.Team, SeasonId = Model.ActiveSeason }, new { @class = "btn btn-warning btn-block" });
                }
                
            </div>
        </div>
    </div>

</div>





