@model FloorballTrainingSessions.PlayerFunctions

@{
    ViewBag.Title = "Delete";
}

<div class="well">
    <h1>Nastavení funkcí</h1>

</div>

<div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span> Opravdu chcete smazat tento záznam?<span class="glyphicon glyphicon-exclamation-sign"></span>
</div>

<div class="well well-lg">
    <h4>Smazání funkce člena týmu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerFunctionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerFunctionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGoalie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGoalie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTrainer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTrainer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsManager)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smaž" class="btn btn-danger btn-md" />
            @Html.ActionLink("Zpět na seznam", "Index", "PlayerFunctions", null, new { @class = "btn btn-primary btn-md"})
            @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })

        </div>
    }
</div>
