@model IEnumerable<FloorballTrainingSessions.PlayerFunctions>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Nastavení funkcí členů týmů</h1>
    <p class="lead">Nastavení jednotlivých funkcí členů týmů.</p>
</div>

<p>
    @Html.ActionLink("Vytvoření nové funkce člena týmu", "Create", "PlayerFunctions", null, new { @class = "btn btn-success btn-md"})
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })
</p>
<div class="well well-lg">
<div class="table-responsive">
<table class="table">
    <colgroup>
        <col class="col-md-6">
        <col class="col-md-1">
        <col class="col-md-1">
        <col class="col-md-1">
        <col class="col-md-1">
        <col class="col-md-2">
    </colgroup>
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFunctionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGoalie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTrainer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsManager)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerFunctionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGoalie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTrainer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsManager)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","PlayerFunctions", new { id=item.Id }, new { @class = "btn btn-warning btn-md"} )
            @Html.ActionLink("Delete", "Delete", "PlayerFunctions", new { id=item.Id }, new { @class = "btn btn-danger btn-md" })
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>