@model FloorballTrainingSessions.PlayerSigningToTrainings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerSigningToTrainings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerSignedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSignedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainings.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainings.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
