@model FloorballTrainingSessions.ExcersiseCategories

@{
    ViewBag.Title = "Delete";
}

<div class="jumbotron">
    <h1>Nastavení kategorie cvičení</h1>
    <p class="lead">Nastavení kategorie svičení</p>
</div>

<div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span> Opravdu chcete smazat tento záznam?<span class="glyphicon glyphicon-exclamation-sign"></span>
</div>
<div class="well well-lg">
    <h4>Kategorie cvičení</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExcersiseCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcersiseCategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smaž" class="btn btn-danger btn-md" />
            @Html.ActionLink("Zpět na seznam", "Index", "ExcersiseCategories", null, new { @class = "btn btn-primary btn-md" })
            @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })
        </div>
    }
</div>
