@model FloorballTrainingSessions.Trainings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SigningLimitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SigningLimitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishTraining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishExcersises)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishExcersises)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonParts.SeasonPartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonParts.SeasonPartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seasons.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seasons.SeasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teams.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teams.TeamName)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.TrainingLocations.TrainingLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingLocations.TrainingLocationName)
        </dd>

        

    </dl>
</div>
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Cvičení</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-3">Zaměření tréninku</div>
                    <div class="col-md-3">@Html.DisplayFor(model => model.TrainingFocuses.TrainingFocusName)</div>
                    <div class="col-md-3">Tréninkové schéma</div>
                    <div class="col-md-3">@Html.DisplayFor(model => model.TrainingSchemeModels.TrainingSchemeName)</div>
                    <hr/>
                    @foreach (var item in Model.TrainingSchemeModels.TrainingSchemePartModels)
                    {
                        <div class="col-md-1" style="writing-mode:tb-rl;">@Html.DisplayFor(modelItem => item.ExcersiseCategories.ExcersiseCategoryName)</div>
                        <div class="col-md-1" style="writing-mode:tb-rl;">@Html.DisplayFor(modelItem => item.PartLength)</div>
                        <div class="col-md-10">@Html.Action("ListForTraining", "TrainingExcersises", new { Training = Model.Id, TrainingSchemePart = item.Id })</div>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Přiřazení drezů</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Docházka</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Doplnění docházky</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<div id="Search" class="modal fade" role="dialog">
    
</div>



@section Scripts {


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />

    <script>
    $(document).ready(function () {
        $(".DDL").click(function () {
            var id = $(this).attr("data-id");
            //alert(id);
            var value = $('#'+id).val();

            var url = "/Excersises/DetailsModal/" + value;
            $.ajax({
                url: url,
                success: function (data) {
                    
                    $('#Search').html(data);
                },
                cache: false
            });




            

                
                $('#Search').modal('show');
            
        });
        });
        </script>
}

