@model FloorballTrainingSessions.Trainings

@{
    ViewBag.Title = "Details";
}
<div class="col-md-12">
<div class="well well " style="display:block; overflow:hidden;">
    <div class="col-md-1 col-sm-6">@Html.DisplayNameFor(model => model.TrainingDate)</div>
    <div class="col-md-3 col-sm-6">@Html.DisplayFor(model => model.TrainingDate) @Model.DayOfTraining</div>
    <div class="col-md-2 col-sm-6">@Html.DisplayNameFor(model => model.TrainingLocations.TrainingLocationName)</div>
    <div class="col-md-2 col-sm-6">@Html.DisplayFor(model => model.TrainingLocations.TrainingLocationName)</div>
    <div class="col-md-1 hidden-sm">@Html.DisplayFor(model => model.Teams.TeamName)</div>
    <div class="col-md-1 hidden-sm">@Html.DisplayFor(model => model.Seasons.SeasonName)</div>
    <div class="col-md-2 hidden-sm">@Html.DisplayFor(model => model.SeasonParts.SeasonPartName)</div>
    <div class="col-md-1 col-sm-6">@Html.DisplayNameFor(model => model.MeetDate)</div>
    <div class="col-md-3 col-sm-6">@Html.DisplayFor(model => model.MeetDate)</div>
    <div class="col-md-2 col-sm-6">@Html.DisplayNameFor(model => model.SigningLimitDate)</div>
    <div class="col-md-2 col-sm-6">@Html.DisplayFor(model => model.SigningLimitDate)</div>
    
</div>
</div>
<div class="row nomargin" style="display:block">
    <div class="col-md-8 col-sm-12" style="display:inline-block">
        <div class="well mydiv col-md-12 col-sm-12" style="display:inline-block">
            <div class="col-md-12 col-sm-12" style="display:inline-block">
                
                @using (Ajax.BeginForm("Result","SigningSummary",
                 new {training = Model.Id, team = Model.Team },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "signingsummary"
                }
                ))
                {
                    <input type="submit" value="Refresh" id="SigningSummaryRefresh" hidden>
                }
                @* Blok se zobrazením sumáře nahlášených uživatelů*@
                <div id="signingsummary" class="col-md-12 col-sm-12" style="display:inline-block" data-id="@Model.Id" data-team="@Model.Team">
                    @Html.Action("Result", "SigningSummary", new { Training = Model.Id, team = Model.Team })
                </div>
                
                </div>
        </div>
    </div>
    @* Blok s nahlášením na trénink  *@
    <div class="col-md-4 col-sm-12">
        <div class="well mydiv" style="display:block">
            <div id="mylist" style="display:block; overflow:hidden">
                @Html.Action("MyList", "PlayerSigningToTrainings", new { player = ViewBag.CurrentPlayer, training = Model.Id, team = Model.Team })
            </div>
        </div>
    </div>
    
</div>

<div class="bs-example row nomargin">
    <div class="col-md-12">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default mydiv">
            <div class="panel-heading mydiv">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Cvičení</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    
                    <div class="col-md-6"><h4>@Html.DisplayFor(model => model.TrainingFocuses.TrainingFocusName)</h4></div>
                    <div class="col-md-6"><h4>@Html.DisplayFor(model => model.TrainingSchemeModels.TrainingSchemeName)</h4></div>
                    <hr/>
                    @foreach (var item in Model.TrainingSchemeModels.TrainingSchemePartModels)
                    {
                        
                            
                            <div class="col-md-6 text-center text-capitalize " ><h5>@Html.DisplayFor(modelItem => item.ExcersiseCategories.ExcersiseCategoryName)</h5></div>
                            <div class="col-md-6 text-center media-middle" >@Html.DisplayFor(modelItem => item.PartLength)</div>
                            
                            <div class="col-md-12 ">@Html.Action("ListForTrainingPlayer", "TrainingExcersises", new { Training = Model.Id, TrainingSchemePart = item.Id })</div>
                        
                    }
                        </div>
                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Nahlášení</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body" id="teamplayerList" data-Teamid="@Model.Team" data-season="@Model.Season" data-training="Model.Id" >
                    @Html.Action("TeamPlayersListPlayer","Teamplayers",new { TeamId = Model.Team , SeasonId = Model.Season, training = Model.Id })
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Docházka</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Doplnění docházky</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</div>

<div id="Search" class="modal fade" role="dialog">
    search
</div>




