
@{
    ViewBag.Title = "List";
}

<div class="row well well-sm">
    <h1>Přehled tréninků</h1>
</div>

    @using (Ajax.BeginForm("GetTrainings", "Trainings", new AjaxOptions
    {//GetPatients is name of method in PatientController
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "traininglist",
        LoadingElementId = "loader", // div with .gif loader - that is shown when data are loading
        
    }))
    {
        
        int selectedteam = ViewBag.selectedteam;
        int selectedseason = ViewBag.selectedseason;
        <div class="form-inline" style="display:block;overflow: visible !important; position: relative">
        <div class="form-group col-lg-3 col-md-3">
           
            @Html.DropDownList("traininglocation", null, htmlAttributes: new { onchange = "$(this.form).submit();",  @class = "selectpicker", @style = "width:100%", data_live_search = "true" })
         </div>
         <div class="form-group col-lg-3 col-md-3">
                
                @Html.DropDownList("seasonpart", null, htmlAttributes: new { onchange = "$(this.form).submit();", @class = "selectpicker", @style = "width:100%", data_live_search = "true" })
          </div>
          <div class="form-group col-lg-3 col-md-3">
               
                @Html.DropDownList("trainingfocus", null, htmlAttributes: new { onchange = "$(this.form).submit();", @class = "selectpicker", @style = "width:100%", data_live_search = "true" })
          </div>
          <div class="form-group col-lg-3 col-md-3">
                       
                        @Html.DropDownList("trainingschememodel", null, htmlAttributes: new { onchange = "$(this.form).submit();", @class = "selectpicker", @style = "width:100%", data_live_search = "true" })
           </div>
            <div class="form-group col-lg-3 col-md-3">
             @*  @Html.CheckBox("PublishTraining", true, htmlAttributes: new { onchange = "$(this.form).submit();", @class = "form-control" })
    @Html.CheckBox("PublishExcersise", true, htmlAttributes: new { onchange = "$(this.form).submit();",  @class = "form-control" }) *@ 
            </div>
           
            </div>

                    @Html.HiddenFor(x => selectedteam, new { @Value = ViewBag.selectedteam })
                    @Html.HiddenFor(x => selectedseason, new { @Value = ViewBag.selectedseason })
                     
                    }

                    @* ... *@
                    <div id="loader" class=" aletr" style="display:none">
                       @* <center><img src="~/Images/ajax-loader.gif" /></center>*@
    </div>
    <div class="col-md-12" style="display:inline-block;margin-top:10px">
    
        
    @Html.ActionLink("Vytvoř nový trénink", "Create", "Trainings", new { SelectedTeam = ViewBag.SelectedTeam, SelectedSeason = ViewBag.SelectedSeason }, new { @class = "btn btn-success btn-xs btn-block" })
        @Html.ActionLink("Generování tréninků", "Create", "GenerateTrainings", new { selectedteam = ViewBag.SelectedTeam, selectedseason = ViewBag.SelectedSeason }, new { @class = "btn btn-info btn-xs btn-block" })
    </div>
    @Html.Partial("_TrainingsList") @* this is view with patient table. Same view you will return from controller *@

                    @section Scripts {

                        
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />

}
                   
