@model FloorballTrainingSessions.ExcersiseBelongsToCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExcersiseBelongsToCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExcersiseCategories.ExcersiseCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcersiseCategories.ExcersiseCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excersises.ExcersiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excersises.ExcersiseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
