@model IEnumerable<FloorballTrainingSessions.TrainingLocations>

@{
    ViewBag.Title = "Index";
}

<div class="well">
    <h1>Nastavení tréninkových lokací</h1>
</div>

<p>
    @Html.ActionLink("Vytvoření tréninkové lokace", "Create", "TrainingLocations", null, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-xs" })
</p>
<div class="table-responsive">
<table class="table table-condensed table-hover">
    <colgroup>
        <col class="col-md-3" />
        <col class="col-md-2" />
        <col class="col-md-4" />
        <col class="col-md-1" />
        <col class="col-md-2" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingLocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingLocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inner)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "TrainingLocations", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>