@model FloorballTrainingSessions.Seasons

@{
    ViewBag.Title = "Nová sezóna";
}


<div class="jumbotron">
    <h1>Nová sezóna</h1>
    <p class="lead">Formulář pro vytvoření nové sezóny v databázi. Nastavení aktivní sezóny určuje standardní náhledy na data.</p>
    
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Sezóna</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.SeasonName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeasonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeasonName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActiveSeason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActiveSeason)
                    @Html.ValidationMessageFor(model => model.IsActiveSeason, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vytvoř" class="btn btn-success btn-lg" />
                @Html.ActionLink("Zpět na seznam sezón", "Index", "Seasons", null, new { @class = "btn btn-primary btn-lg" })           
                @Html.ActionLink("Administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-lg" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
