@model IEnumerable<FloorballTrainingSessions.Seasons>

@{
    ViewBag.Title = "Nastavení sezón";
}

<div class="jumbotron">
    <h1>Nastavení sezón</h1>
    <p class="lead">Seznam vytvořených sezón v databázi. Nastavení aktivní sezóny určuje standardní náhledy na data.</p>

</div>

<p>
    @Html.ActionLink("Nová sezóna", "Create","Seasons", null, new { @class = "btn btn-success btn-lg" })
    @Html.ActionLink("Administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActiveSeason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActiveSeason)
        </td>
        <td>
            @Html.ActionLink("Edituj", "Edit", new { id=item.Id }, new { @class = "btn btn-warning " }) |
            @Html.ActionLink("Smaž", "Delete", new { id=item.Id }, new { @class = "btn btn-danger " })
        </td>
    </tr>
}

</table>
