@model IEnumerable<FloorballTrainingSessions.Seasons>

@{
    ViewBag.Title = "Nastavení sezón";
}

<div class="well">
    <h1>Nastavení sezón</h1>
</div>

<p>
    @Html.ActionLink("Vytvoření nové sezóny", "Create", "Seasons", null, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-xs" })
</p>

    <div class="table-responsive ">
        <table class="table table-condensed table-hover">
            <colgroup>
                <col class="col-md-7" />
                <col class="col-md-3" />
                <col class="col-md-2" />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SeasonName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActiveSeason)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeasonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActiveSeason)
                        </td>
                        <td>
                            @Html.ActionLink("Edituj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Smaž", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
