@model FloorballTrainingSessions.Excersises

<div>
    <h4>Excersises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExcersiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcersiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescript)
        </dd>

    </dl>
</div>

