@model IEnumerable<FloorballTrainingSessions.Excersises>

@{
    ViewBag.Title = "Index";
}

<div class="row well well-sm">
    <h1>Cvičení</h1>
</div>

<p>
    
    @Html.ActionLink("Vytvoř nové cvičení", "Create", "Excersises", new { SelectedTeam = ViewBag.SelectedTeam, SelectedSeason = ViewBag.SelectedSeason }, new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <colgroup>
        <col class="col-md-2" />
        <col class="col-md-4" />
        <col class="col-md-2" />
        <col class="col-md-2" />
        <col class="col-md-2" />
    </colgroup>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExcersiseName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ShortDescript)
        </th>
        <th>Kategorie</th>
        <th>Část sezóny</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExcersiseName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescript)
        </td>
        <td>
            @foreach (var itemx in item.ExcersiseBelongsToCategory)
            {
                @Html.DisplayFor(modelItem => itemx.ExcersiseCategories.ExcersiseCategoryName)<br>
            }
        </td>
        <td>
            @foreach (var itemx in item.ExcersiseBelongsToSeasonParts)
            {
                @Html.DisplayFor(modelItem => itemx.SeasonParts.SeasonPartName)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
