@model IEnumerable<FloorballTrainingSessions.Players>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Nastavení členů a přiřazení účtů</h1>
    <p class="lead">Nastavení členů týmů a přiřazení uživatelských účtů</p>
</div>

<p>
    @Html.ActionLink("Nový", "Create", "Players", null, new { @class = "btn btn-success btn-md" })
    @Html.ActionLink("Zpět do administrace", "Index", "Admin", null, new { @class = "btn btn-info btn-md" })
</p>
<table class="table">
    <colgroup>
        <col class="col-md-5" />
        <col class="col-md-5" />
        <col class="col-md-2" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Players", new { id = item.Id }, new { @class = "btn btn-warning btn-md" })
                    @Html.ActionLink("Delete", "Delete", "Players", new { id = item.Id }, new { @class = "btn btn-danger btn-md" })
                </td>
            </tr>
        }
    </tbody>
</table>
